@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Gloria+Hallelujah');
#text{
	background: transparent;
	margin: 0 auto;
	color: #0000;
	width: 200px;
	height: 100px;
	border: 2px solid #8B3A62;
	
	font-family: 'Gloria Hallelujah', cursive;
	transition: 0.5s;
}
@keyframes titulo{
	from{font-size: 2.8em;}
	to{font-size: 4em;}
}

#text:hover{
	background:#ffff;
	width: 400px;
}

h1{
	font-family: 'Gloria Hallelujah', cursive;
	color: #FF82AB;
	margin: 0 auto;
	width: 400px;
	font-size: 2.8em;
	transition: 1s;
	text-align: center;
}

h1:hover{
	font-size: 3.0em;
	width: 500px;
	
}

.texto{
	text-align: center;
	margin: 0 auto;
	margin-top: 15%;
}




body{
	font-family: 'Gloria Hallelujah', cursive;
	margin: 0 auto;
	background-image: url("https://www.google.com.br/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjs3tqQyKPWAhUEg5AKHSk4CREQjRwIBw&url=https%3A%2F%2Fwall.alphacoders.com%2Fbig.php%3Fi%3D700297%26lang%3DPortuguese&psig=AFQjCNFu4YrSeIqnO3Oz3WHvUUogAem4Kg&ust=1505440230614626");
	background-size: 100%;
	color: #000000;
	width: 100%;
}

.fix{
	clear: both;
}

.msg{
	width: 200px;
}

.carcspace{
	width: 200px;
}

.palavras{
	width: 300px;
}